[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = One-Time Passwords Generator
[access "refs/*"]
	owner = group user/Szymon Datko (sdatko)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Szymon Datko (sdatko)
	label-Verified = -1..+1 group user/Szymon Datko (sdatko)
	push = group user/Szymon Datko (sdatko)
	read = group user/Szymon Datko (sdatko)
	rebase = group user/Szymon Datko (sdatko)
	removeReviewer = group user/Szymon Datko (sdatko)
	submit = group user/Szymon Datko (sdatko)
[access "refs/heads/*"]
	create = group user/Szymon Datko (sdatko)
	push = +force group user/Szymon Datko (sdatko)
	pushMerge = group user/Szymon Datko (sdatko)
	read = group user/Szymon Datko (sdatko)
[access "refs/tags/*"]
	push = group user/Szymon Datko (sdatko)
	push = +force group user/Szymon Datko (sdatko)
